<br>
<div class="container" *ngIf="habilidades">
    <div class="row">
        <div class="col formu">
            <img src="https://drive.google.com/uc?export=view&id=1Mouv0R0RIsK4QvbcsI67S0nNxweRQThP" alt="Editar">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Habilidad</label>
                    <input type="text" class="form-control" id="nombre" 
                    name="nombre" [(ngModel)]="habilidades.nombre" requiredd>
                </div>
                <br>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" 
                    name="porcentaje" [(ngModel)]="habilidades.porcentaje" required>
                </div>
                <br>
                <button class="btn btn-dark">
                   Editar
                </button>
                <br>
            </form>
        </div>
    </div>
</div>