<hr>
<section class="rowoscura">
<div class="container">
    <div class="row">
        <h1>Habilidades Duras</h1>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'https://drive.google.com/uc?export=view&id=1X9wnk9Y6FiMmkml8Y7K12dlO6xGc5Hqy'"
            [imageHeight]="60"
            [imageWidth]="90"
            [showImage]="true"
            [title]="'Organización de eventos'"
            [showUnits]="false"
            [titleFontSize]="'12px'"
            [titleColor] = "'gray'"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="50"
                [radius]="100"
                [imageSrc]="'https://drive.google.com/uc?export=view&id=1X9wnk9Y6FiMmkml8Y7K12dlO6xGc5Hqy'"
                [imageHeight]="60"
                [imageWidth]="90"
                [showImage]="true"
                [title]="'Organización de eventos'"
                [showUnits]="false"
                [titleFontSize]="'12px'"
                [titleColor] = "'gray'"
                [showSubtitle]="false"
                [outerStrokeWidth]="14"
                [innerStrokeWidth]="10"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
            </div>

            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                    [percent]="70"
                    [radius]="100"
                    [imageSrc]="'https://drive.google.com/uc?export=view&id=1X9wnk9Y6FiMmkml8Y7K12dlO6xGc5Hqy'"
                    [imageHeight]="60"
                    [imageWidth]="90"
                    [showImage]="true"
                    [title]="'Organización de eventos'"
                    [showUnits]="false"
                    [titleFontSize]="'12px'"
                    [titleColor] = "'gray'"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="14"
                    [innerStrokeWidth]="10"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="700"
                ></circle-progress>
                </div>
         
    </div>
</div>

<div class="container">
    <div class="row rowoscura">
        <h1>Habilidades Blandas</h1>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [title]="'Organización de eventos'"
            [showUnits]="false"
            [titleFontSize]="'12px'"
            [titleColor] = "'gray'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'gray'"
            [innerStrokeColor]="'gray'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
        </div>


            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                    [percent]="50"
                    [radius]="100"
                    [title]="'Organización de eventos'"
                    [showUnits]="false"
                    [titleFontSize]="'12px'"
                    [titleColor] = "'gray'"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="5"
                    [outerStrokeColor]="'gray'"
                    [innerStrokeColor]="'gray'"
                    [animation]="true"
                    [animationDuration]="700"
                ></circle-progress>
                </div>

                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                        [percent]="50"
                        [radius]="100"
                        [title]="'Organización de eventos'"
                        [showUnits]="false"
                        [titleFontSize]="'12px'"
                        [titleColor] = "'gray'"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="5"
                        [outerStrokeColor]="'gray'"
                        [innerStrokeColor]="'gray'"
                        [animation]="true"
                        [animationDuration]="700"
                    ></circle-progress>
                    </div>
    </div>
</div>

</section>



