<section>
<hr>
<br>
<div class="container">
  <div class="col-10">
<h1>Contáctame</h1>
  </div>
</div>
<br>

 <!--Redes sociales-->   
    <div class="container">
        <div class="row"> 
            <div class="col-12">
              <a href="https://github.com/LeiQuintero"> 
                <img src="https://drive.google.com/uc?export=view&id=1bivnM-UBAbVggAzjElpOPtud5d0h22jM" alt="Enlace GitHub" id="GitHub"></a>
       
              <a href="https://walink.co/eecfab"> 
        <img src="https://drive.google.com/uc?export=view&id=1kEftvWcftlCpI4J-VRF0sGqvkf60JY6o" alt="Enlace a WhatsApp" id="WhatsApp"></a>
        
        <a href="https://www.linkedin.com/in/leidy-quintero-garavito-/"> 
         
        <img src="https://drive.google.com/uc?export=view&id=1FKeHmJsR6-zzJlvHlx8GMegNs9G0Gjop" alt="Cuenta Linkedin" id="linkedin"></a>
             
        <a href="https://www.instagram.com/lei_quintero/"> 
         <img src="https://drive.google.com/uc?export=view&id=1R569zhRZOKjaKe6VWfwCm80WexL24NM2" alt="Cuenta Linkedin" id="Insta"></a>
    
         <a href="mailto:ljquinterog9@gmail.com?Subject=Quiero%20contactarte%20por"> 
            <img src="https://drive.google.com/uc?export=view&id=1wLojI0eLUG_Zd95vkcNQEFCQcnx9WbCu" alt="Cuenta Mail" id="Mail"></a>
       
           
          </div>    
        </div>
    </div>
<br>
<br>
<br>
  </section>
