<div class="row  my-5">
   
        
    <div class="col-sm-11 col-md-6 col-lg-4 mx-auto my-auto card fondo">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                class="img-fluid fotologin" alt="Phone image">
            </div>
        <form> 
            <!--Email input-->
            <div class="form-outline mb-4">
                <label class="form-label" for="loginTxtEmail"> Email </label>
                <input type="email" id="loginTxtEmail" class="form-control" 
                name="loginTxtEmail" [(ngModel)]="loginTxtEmail"/>
            </div>

            <!--password input-->
            <div class="form-outline mb-4">
                <label class="form-label" for="loginTxtPwd">Password </label>
                <input type="password" id="loginTxtPwd" class="form-control"
                name="loginTxtPwd" [(ngModel)]="loginTxtPwd"/>
            </div>

            <!--submit button-->
            <button type="submit" class="btn btn-primary btn-lg btn-block mb-4 col-12 col-sm-12 col-md-6"
            (click)="btnLogin()">
                Iniciar Sesión </button>
        </form>
    </div>
</div>


