<br>
<div class="container">
    <div class="row mb-3">
        <div>
           
            <!--cuando clickeamos onSubmit será onCreate-->
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="formu mb-3">
                <img src="https://drive.google.com/uc?export=view&id=1raMOqfnvkpZnfb_AFxnBQJaeAOr9g5HQ" alt="Agregar">
                <div class="form-group ">
                    <label for="nombreE"class="mb-3">Nombre de la empresa</label>
                    <input type="text" class="form-control mb-3" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE"class="mb-3">Descripcion del cargo</label>
                    <input type="text" class="form-control mb-3" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                </div>
                <button class="btn btn-dark mb-3">
                    Agregar experiencia
                </button>
            </form>
        </div>
    </div>
</div>
