<hr>
<!--Estudios-->
<section class="rowoscura">
  <div class="container">
    <h1>Educación</h1>
    <div class="row  ">
        <div class="col">  
        </div>
          <div class="col-12">
            <h3>Titulo</h3> - <h5>(years)</h5>
            <p>Universidad</p>
     </div>        
    </div>    
      
</div>     


     <div class="container">
      <hr>
      <div class="row ">
          <div class="col">  
          </div>
            <div class="col-12">
              <h3>Titulo</h3> - <h5>(years)</h5>
              <p>Universidad</p>
       </div>        
      </div>    
     
</div>        
   
<hr>       
        
      
</section>



