
 <!--Acerca de mi-->
 <div class="row">
  <img src="https://drive.google.com/uc?export=view&id=1TqboKIbkUTK2G2x1R3ZYy7Cu598QL-EU" 
  alt="Foto muro" class="img-fluid col s12 materialboxed img-responsive img-portada "/>
  <!--div class="container col-xs-12 col-sm-2 col-md-2 col-lg-2 texto"-->
 
  <h3 class="text-uppercase fw-bolder">{{persona.nombre}} {{persona.apellido}} </h3>
    <p id="nombre">(Full Stack Developer Jr) </p>
    <p> 
   <a href="mailto:ljquinterog9@gmail.com?Subject=Quiero%20contactarte%20por">ljquinterog9@gmail.com</a></p>
  <!--/div-->    
</div>

<section >
 <div class="container">
  
     <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"> 
        <img src="https://drive.google.com/uc?export=view&id=18O-TjQLb1LGZDInua0p2koxwMG7kb3qC" alt="Foto perfil" class="col s6 m3 xl3 img-responsive circle" id="fotoperfil">
          </div>
          
            <div class="col-xs-12 ">
              <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Vitae exercitationem sit inventore dignissimos magni, 
                  natus nihil fuga laboriosam praesentium, corrupti dolor, 
                  nisi ipsa quidem facere tempore temporibus minus impedit repellat.</p>
              </span>
            </div>
    </div>
    </div>
    
</section>







  