
<br>
<div class="container" *ngIf="persona">
    <div class="row">
        <div class="col formu">
            <div class="col div-alingtop"> 
                <img src="https://drive.google.com/uc?export=view&id=1Mouv0R0RIsK4QvbcsI67S0nNxweRQThP" alt="Editar">
               
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre" class="mb-3">Nombre </label>
                    <input type="text" class="form-control mb-3" id="nombre" 
                    name="nombre" [(ngModel)]="persona.nombre" requiredd>
                </div>
               
                <div class="form-group">
                    <label for="apellido" class="mb-3">Apellido</label>
                    <input type="text " class="form-control mb-3" id="apellido" 
                    name="apellido" [(ngModel)]="persona.apellido" required>
                </div>
                
                <div class="form-group">
                    <label for="descripcion" class="mb-3">Descripcion</label>
                    <input type="text" class="form-control mb-3" id="descripcion" 
                    name="descripcion" [(ngModel)]="persona.descripcion" required>
                </div>
              
                <button class="btn btn-dark mb-3">
                   Editar
                </button>
               
            </form>
        </div>
    </div>
</div>

