<hr>
<!--Estudios-->
<section class="rowoscura">
  <div class="container">
    <div class="row  ">
        <div class="col">  
        </div>
          <div class="col-12">
            <h3>Titulo</h3> - <h5>(years)</h5>
            <p>Universidad</p>
     </div>        
    </div>    
      
</div>     


     <div class="container">
      <hr>
      <div class="row ">
          <div class="col">  
          </div>
            <div class="col-12">
              <h3>Titulo</h3> - <h5>(years)</h5>
              <p>Universidad</p>
       </div>        
      </div>    
     
</div>        
   
<hr>       
        
      
</section>




<!--Experiencia-->
 <section>
    <div class="container">
        <div class="row div-alingtop">
            <h1>Experiencia</h1>
            <div class="col-1 div-alingtop"> <img src="https://drive.google.com/uc?export=view&id=1X9wnk9Y6FiMmkml8Y7K12dlO6xGc5Hqy" alt="Logo Sadosky"> 
            </div>
              <div class="col-11">
                <h3>Instituto Universitario Nacional de Derechos
                    Humanos "Madres de Plaza de Mayo"</h3> - <h5>(years)</h5>
                   <p><strong>Tutora virtual Equipo de Educación a Distancia</strong></p> 
                    <li>Capacitación sobre la navegación en el campus para nuevos estudiantes y herramientas especificas sobre el Moddle para docentes.</li>
                    <li>Análisis y evaluación de las y los estudiantes y docentes de la plataforma Moodle.</li>
                    <li>Acompañamiento a docentes y estudiantes en la organización del dictado de la carrera de Comunicación Social.</li>
               </div>        
        </div>   
<hr>
        <div class="row div-alingtop">
            <div class="col-1 div-alingtop"> <img src="https://drive.google.com/uc?export=view&id=1X9wnk9Y6FiMmkml8Y7K12dlO6xGc5Hqy" alt="Logo Sadosky"> 
            </div>
              <div class="col-11">
                <h3>Facultad Regional Avellaneda de la Universidad Tecnológica Nacional – UTN</h3> - <h5>(years)</h5>
                   <p><strong>Tutora Virtual</strong></p> 
                    <li>Planificación y armado de contenidos para curso TIC.</li>
                    <li>Dictado de curso TIC a 120 trabajadores del Ministerio de Justicia y DDHH de la Nación Argentina a través de Moodle.</li>
                </div>        
        </div> 
     <hr>   
        <div class="row div-alingtop">
          <div class="col-1 div-alingtop"> <img src="https://drive.google.com/uc?export=view&id=1X9wnk9Y6FiMmkml8Y7K12dlO6xGc5Hqy" alt="Logo Sadosky" id="logotrabajo"> 
          </div>
              <div class="col-11">
                
                <h3>Fundación Dr. Manuel Sadosky</h3> - <h5>(years)</h5>
               
                   <p><strong>Gestión Ceibal/Asistente Dirección</strong></p> 
                    <li>Elaboración de estrategias y despliegue de trabajo logístico y administrativo con el equipo de Ceibal Uruguay, con el fin de llevar a cabo clases óptimas de pensamiento computacional  con profesores on line.</li>
                    <li>Recabar información y realizar boletín informativo, para el fortalecimiento de la comunicación interna del área.</li>
                    <li>Organización de reuniones y eventos con  parnerts o clientes estratégicos para la dirección ejecutiva.</li>
                    <li>Promover la coordinación, colaboración y suministros de información entre los diferentes proyectos de la fundación.</li>
                    <li>Logística, cotización, compra y coordinación de viajes nacionales e internacionales para congresos y eventos.</li>
               </div>        
        </div>   
    </div>      
</section>


